@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
	margin: 0;
	height: 100%;
	width: 100%;
	/* image downloaded from google ¯\_(ツ)_/¯ */
	background-image: url('./images/stars.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
